<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="row menubar-3">
                <div class="col-6 ">
                    <!-- <h3 class="box-title">Basic Table</h3> -->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a [routerLink]="[ './' ]" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Hóa Đơn</a>
                            <a [routerLink]="[ './examresult' ]" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Hồ sơ khám</a>
                            <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> -->
                        </div>
                    </nav>
                    <!-- <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                      </div> -->
                </div>
                <div class="col-2">
                </div>
                <div class="col-4">
                    <nav class="navbar navbar-light text-right">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" #searchfield aria-label="Search" style="width: 250px;">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </nav>
                </div>
            </div>

            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>