<br>
<div class="container">

    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Registration List:</h3>
                </div>
                <div class="panel-body">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Course</th>
                                <th>Student</th>
                                <th>Is active</th>
                                <th>Approval</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of registrations" [ngStyle]="{'cursor': 'pointer'}">
                                <!-- [routerLink]="[ '/admin/registration', item.id]" -->
                                <td>{{ item.id }}</td>
                                <td>{{ item.course_id.program_id.name }}</td>
                                <td>{{ item.student_id.username }}</td>
                                <td>{{ item.isActive }}</td>
                                <td>

                                    <button type="button" class="btn btn-success" *ngIf="item.isActive === false" (click)="approve(item.id)">Approve</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>
    </div>

</div>