<div class="container mt-5">
    <div class="row">
        <div class="col-6 text-left pl-5 pt-5">
            <h1 style="font-size: 30px;" class="pl-2">STT: {{Examination.id}}</h1>
        </div>
        <div class="col-6 text-right">
            <div class="col-12">
                <img src="assets/plugins/images/gdental.png" alt="">
            </div>
            <div class="col-12 pr-5">
                <p style="font-weight: bold;">Phòng Khám Nha Khoa GDental</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h1>Phiếu khám</h1>
        </div>
        <div class="col-12 text-center">
            ---------oOo---------
        </div>
    </div>

    <div class="container-lv2">
        <!-- <div class="row mt-5">
            <div class="col-12 text-left">
               <h3>Ông/Bà: {{invoice.examination.patient.name}}</h3>
            </div>
            <div class="col-12 text-center">
                ---------oOo---------
            </div>
        </div> -->

        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th style="width: 50%;"></th>
                            <th style="width: 50%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h3>Bệnh nhân: {{Examination.patient.name}}</h3>
                            </td>
                            <td>
                                <h3>Bác sĩ khám: {{doctor.name}}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Số điện thoại: {{patient.phone}}</h3>
                            </td>
                            <td>
                                <h3>Chuyên khoa: ...</h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3>Ghi chú: {{Examination.note}}</h3>
                            </td>
                        </tr>
                        <!-- 
                        <tr>
                            <td colspan="2" class="text-center">
                                <table style="width: 100%;font-size:large;" class="table table-bodered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Dịch vụ khám</th>
                                            <th>Đơn giá</th>
                                            <th>Số lượng</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of diagnosis; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.service.name}}</td>
                                            <td>{{item.service.cost}}</td>
                                            <td> {{item.cost/item.service.cost}}</td>
                                            <td>{{item.cost}}</td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Voucher: </td>
                                            <td> {{ invoice.voucher ? invoice.voucher.amount : 0 }} </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Tổng cộng: </td>
                                            <td>{{ invoice.cost }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="col-12">
            <div class="col-12">
                <h4>Tái khám ngày: {{ reexam.date }} vào lúc {{ reexam.time }}</h4>
            </div>
            <div class="col-12">
                <h4>Nội dung tái khám: {{ reexam.detail }}</h4>
            </div>
        </div> -->
    </div>

    <div class="row">
        <div class="col-7 text-right">
        </div>
        <div class="col-5 text-center">
            <h2>Nhân viên chịu trách nhiệm</h2>
        </div>

        <div class="col-7 text-right">
        </div>
        <div class="col-5 text-center">
            <h2> {{ staff.name }} </h2>
        </div>
    </div>

</div>