.container-lv2{
    margin: 5rem 5rem;
}

/* td{
    border: none;
}

th{
    border: none;
}

tr{
    border: none;
} */

.table>tbody>tr>td{
    border-top: none;
}

.table>thead>tr>th{
    border-top: none;
    border-bottom: none;
}