.navbar{
    padding: 0px 0px 0px 0px !important;
}

.navbar-header{
    height: 60px;
}

.inline-display{
    display: inline;
}
/* 
img.light-logo{
    margin-top: 0px;
}

.top-left-part{
    height: 0px;
} */

/* .top-left-part {
    background: #fff;
}
.top-left-part .dark-logo {
display: none;
}
.top-left-part .light-logo {
display: inline-block;
} */
