<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <div class="top-left-part">
                <a class="logo" href="/admin">
                    <b>
                        <img src="assets/plugins/images/logo01.png" alt="home" class="dark-logo" />
                        <img src="assets/plugins/images/logo01.png" width="50px" alt="home" class="light-logo" />
                    </b>
                    <span class="hidden-xs">
                        <img src="assets/plugins/images/logo01.png" alt="home" class="dark-logo" />
                        <!-- <img src="assets/plugins/images/admin-text-dark.png" alt="home" class="light-logo" /> -->
                        <img src="assets/plugins/images/gdental3.png" alt="home" class="light-logo" width="139px"
                            height="24px" />
                    </span>
                </a>
            </div>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li>
                    <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                </li>
                <li>
                    <a class="profile-pic inline-display" href="./">
                        <img *ngIf="User.image; else NoAvatar" src="{{User.image}}" alt="user-img" width="36" class="img-circle">
                        <ng-template #NoAvatar>
                            <img src="assets/img/logodoctor.png" alt="user-img" width="36" class="img-circle">
                        </ng-template>
                    </a>

                    <button type="button" class="btn btn-danger profile-pic inline-display" data-dismiss="modal" style="margin-right: 10px" (click)="onLogout()">Đăng xuất</button>
                    <!-- <h5 class="inline-display  mr-3 cls-logout" (click)="onLogout()"><b class="hidden-xs">Đăng Xuất</b>
                    </h5> -->
                </li>
            </ul>
        </div>
    </nav>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
            </div>
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a href="/doctor" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Trang
                        chính</a>
                </li>
                <li>
                    <a [routerLink]="[ './customer' ]" class="waves-effect"><i class="fa fa-users fa-fw"
                            aria-hidden="true"></i>Khách hàng</a>
                </li>
                <li>
                    <a [routerLink]="[ './examination' ]" class="waves-effect"><i class="fa fa-book fa-fw"
                            aria-hidden="true"></i>Hồ sơ khám</a>
                </li>
                <li>
                    <a [routerLink]="[ './diagnosis' ]" class="waves-effect"><i class="fa fa-table fa-fw"
                            aria-hidden="true"></i>Chẩn đoán</a>
                </li>
                <li>
                    <a (click)="loadSchedule()" data-toggle="modal" data-target="#scheduleViewModal" class="waves-effect"><i
                            class="fa fa-calendar-o fa-fw"></i>Lịch khám</a>
                </li>
            </ul>
            <!-- <div class="center p-20">
                 <p target="_blank" class="btn btn-danger btn-block waves-effect waves-light">Stripe Dashboard</p>
             </div> -->
        </div>

    </div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>


<div id="scheduleViewModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-2">
                    <h4 class="modal-title">
                        Lịch khám
                    </h4>
                </div>
            </div>

            <div class="modal-body">
                <div *ngIf="StartComponent;else NotYet" class="cls-Scheduler" style="color: coral;">
                    <kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" startTime="07:00" endTime="19:00" style="height: 600px;color: coral;">
                        <kendo-scheduler-week-view>
                        </kendo-scheduler-week-view>
                        <kendo-scheduler-work-week-view>
                        </kendo-scheduler-work-week-view>
                        <kendo-scheduler-day-view>
                        </kendo-scheduler-day-view>
                        <kendo-scheduler-multi-day-view [numberOfDays]="3">
                        </kendo-scheduler-multi-day-view>
                    </kendo-scheduler>

                </div>
                <ng-template #NotYet>
                    <kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" startTime="07:00" endTime="19:00" style="height: 600px;">
                        <kendo-scheduler-week-view>
                        </kendo-scheduler-week-view>
                        <kendo-scheduler-work-week-view>
                        </kendo-scheduler-work-week-view>
                        <kendo-scheduler-day-view>
                        </kendo-scheduler-day-view>
                        <kendo-scheduler-multi-day-view [numberOfDays]="3">
                        </kendo-scheduler-multi-day-view>
                    </kendo-scheduler>
                </ng-template>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>