<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="row menubar-3">
                <div class="col-6 ">
                    <h3 class="box-title">Basic Table</h3>
                </div>
                <div class="col-2">
                </div>
                <div class="col-4">
                    <nav class="navbar navbar-light text-right">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" #searchfield aria-label="Search" style="width: 250px;" (keyup.enter)="onSearch(searchfield.value)">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </nav>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên</th>
                            <th>liên lạc</th>
                            <th>giới tính</th>
                            <!-- <th>QR Code</th> -->
                            <th>Tùy chọn</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of customer | paginate: {
                            itemsPerPage: 10,
                            currentPage: _p,
                            totalItems: _total }; let i=index">

                            <td (click)="detailCustomer(item.id)" data-toggle="modal" data-target="#detailcustomer">
                                {{(_p-1)*10+i+1}}</td>
                            <td (click)="detailCustomer(item.id)" data-toggle="modal" data-target="#detailcustomer">
                                {{ item.name }}</td>
                            <td (click)="detailCustomer(item.id)" data-toggle="modal" data-target="#detailcustomer">
                                {{ item.phone }}</td>
                            <td (click)="detailCustomer(item.id)" data-toggle="modal" data-target="#detailcustomer">
                                {{ item.gender ? 'Nam' : 'Nữ' }}</td>
                            <td style="width: 20%;">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addexamination" (click)="loadListDoctor(item.id, item.name)">Tạo phiếu
                                    khám</button>
                                <button type="button" class="btn btn-danger" (click)="deleteCustomer(item.id)">Xóa</button>
                            </td>
                            <td style="cursor: pointer;">
                                <div class="hvr-forward">
                                    <a [routerLink]="[ '/comon/customer/',item.id ]" target="_blank">
                                        <i class="fa fa-mail-forward"></i>Lịch sử khám<span class="text-muted"></span>
                                    </a>
                                </div>
                            </td>
                            <!-- <td style="cursor: pointer;">
                                <div class="hvr-forward" [routerLink]="[ './customer',item.id ]"><i
                                        class="fa fa-mail-forward"></i>Lịch sử khám<span class="text-muted"></span>
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-6">
                        <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
                    </div>
                    <div class="col-sm-5 text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adduser">Thêm
                            khách hàng</button>
                    </div>
                    <div class="col-sm-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="adduser" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-12 text-center">
                    <h4 class="modal-title">
                        Thêm khách hàng
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="">Tên Khách hàng</label>
                                <input type="text" class="form-control" #fullname>
                            </div>

                            <div class="form-group">
                                <label for="">Số điện thoại</label>
                                <input type="text" class="form-control" #phonenumber>
                            </div>
                            <div class="form-group">
                                <label for="">Giới tính</label>
                                <br>
                                <input type="radio" name="gender" value="true" #male (change)="onChangeGender(male.value)" checked> Nam<br>
                                <input type="radio" name="gender" value="false" #female (change)="onChangeGender(female.value)"> Nữ<br>
                            </div>
                            <button type="button" class="btn btn-md btn-primary" (click)="addUser(fullname.value, phonenumber.value)">Lưu thông
                                tin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div id="detailcustomer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-2">
                    <h4 class="modal-title">
                        <button type="button" class="btn btn-outline-info">Chi tiết</button>
                    </h4>
                </div>
            </div>
            <!-- Need to fix-->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Tên Khách hàng</label>
                                <input type="text" class="form-control" #detailName [value]="UserDetail.name">
                            </div>

                            <div class="form-group">
                                <label for="">Số điện thoại</label>
                                <input type="text" class="form-control" #detailPhone [value]="UserDetail.phone">
                            </div>
                            <div class="form-group">
                                <label for="">Giới tính</label>
                                <br>
                                <div *ngIf="UserDetail.gender ; else elseGender">
                                    <input type="radio" name="gender" value="true" #detailmale (change)="onChangeDetailGender(detailmale.value)" checked> Nam<br>
                                    <input type="radio" name="gender" value="false" #detailfemale (change)="onChangeDetailGender(detailfemale.value)"> Nữ<br>
                                </div>
                                <ng-template #elseGender>
                                    <input type="radio" name="gender" value="true" #detailmale (change)="onChangeDetailGender(detailmale.value)"> Nam<br>
                                    <input type="radio" name="gender" value="false" #detailfemale (change)="onChangeDetailGender(detailfemale.value)" checked> Nữ<br>
                                </ng-template>

                            </div>
                            <button type="button" class="btn btn-md btn-primary" (click)="updateUser(detailName.value, detailPhone.value)">Lưu thay đổi</button>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                            <div class="form-group">
                                <img src="{{UserDetail.qrcoce}}" alt="" width="60%" height="60%">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Need to fix-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="addexamination" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <div class="col-2">
                    <h4 class="modal-title">
                        <button type="button" class="btn btn-outline-info">Tạo Phiếu Khám</button>
                    </h4>
                </div> -->
                <h4 class="modal-title">
                    {{patient_name}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="">Bác sĩ</label>
                                <div>
                                    <select name="" id="" #doctor>
                                        <!-- <option *ngFor="let item of doctors;" value="{{item.id}}">{{item.name}}</option> -->
                                        <option *ngFor="let item of queue;" value="{{item.id}}">{{item.name}} - {{item.num_patient}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">Ghi chú</label>
                                <input type="text" class="form-control" #note>
                            </div>

                            <div class="form-group" *ngIf="is_reexam == true">
                                <label class="switch mr-2">
                                    <input type="checkbox" (change)="onCheck()">
                                    <span class="slider round"></span>
                                </label>Tái khám
                            </div>

                            <div class="form-group" *ngIf="isToggleChecked && is_reexam">
                                <label for="">Dịch vụ tái khám</label>
                                <div>

                                    <select (change)="changeSelect($event.target.value)">
                                        <option *ngFor="let item of ExamResult" value={{item.id}}>{{ item.id }} - {{item.examresult_in_examination[0].note}}</option>
                                    </select>
                                </div>
                            </div>

                            <button type="button" class="btn btn-md btn-primary" (click)="isToggleChecked == false ? onCreateExamination(doctor.value, note.value) : onCreateReExamination(doctor.value,note.value)" data-dismiss="modal">Tạo phiếu
                                khám</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>