<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="row menubar-3">
                <div class="col-6 ">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a [routerLink]="[ './' ]" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Bảng</a>
                            <a [routerLink]="[ './scheduler' ]" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Lịch</a>
                        </div>
                    </nav>
                </div>
                <div class="col-2">
                </div>
                <div class="col-4">
                </div>
            </div>

            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>