<div *ngIf="StartComponent;else NotYet" class="cls-Scheduler" style="color: coral;">
    <kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" startTime="07:00" endTime="19:00" style="height: 600px;color: coral;">
        <kendo-scheduler-week-view>
        </kendo-scheduler-week-view>
        <kendo-scheduler-work-week-view>
        </kendo-scheduler-work-week-view>
        <kendo-scheduler-day-view>
        </kendo-scheduler-day-view>
        <kendo-scheduler-multi-day-view [numberOfDays]="3">
        </kendo-scheduler-multi-day-view>
    </kendo-scheduler>

</div>
<ng-template #NotYet>
    <kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" startTime="07:00" endTime="19:00" style="height: 600px;">
        <kendo-scheduler-week-view>
        </kendo-scheduler-week-view>
        <kendo-scheduler-work-week-view>
        </kendo-scheduler-work-week-view>
        <kendo-scheduler-day-view>
        </kendo-scheduler-day-view>
        <kendo-scheduler-multi-day-view [numberOfDays]="3">
        </kendo-scheduler-multi-day-view>
    </kendo-scheduler>
</ng-template>