<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="row menubar-3">
                <div class="col-6 ">
                    <h3 class="box-title">Basic Table</h3>
                </div>
                <div class="col-2">
                </div>
                <div class="col-4">
                    <nav class="navbar navbar-light text-right">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" #searchfield aria-label="Search" style="width: 250px;">
                        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit ">Search</button>
                    </nav>
                </div>
            </div>
            <div class="table-responsive ">
                <div class="row ">
                    <div class="col-6 ">
                        <pagination-controls (pageChange)="changePage($event) "></pagination-controls>
                    </div>
                    <div class="col-6 ">
                        <label class="cls-label"><input type="checkbox" class="cls-input option-input checkbox"
                            (change)="onCheckExamined() " />
                        Đã khám</label>
                    </div>
                </div>
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên</th>
                            <th>liên lạc</th>
                            <th>giới tính</th>
                            <!-- <th>QR Code</th> -->
                            <th>Tùy chọn</th>
                            <!-- <th>#</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of Customer | paginate: { itemsPerPage: 10, currentPage: _p, totalItems: _total }; let i=index ">

                            <td data-toggle="modal " data-target="#detailcustomer ">
                                {{(_p-1)*10+i+1}}</td>
                            <td data-toggle="modal " data-target="#detailcustomer ">
                                {{ item.name }}</td>
                            <td data-toggle="modal " data-target="#detailcustomer ">
                                {{ item.phone }}</td>
                            <td data-toggle="modal " data-target="#detailcustomer ">
                                <img *ngIf="item.gender; else elseFemale " src="assets/img/icons8-male.png " width="15% " alt=" ">
                                <ng-template #elseFemale>
                                    <img src="assets/img/icons8-female.png " width="15% " alt=" ">
                                </ng-template>
                            </td>
                            <!-- <td>
                                <img src="{{item.qrcoce}} " alt=" " width="78px " height="78px ">
                            </td> -->
                            <!-- <td style="width: 20%; ">
                                <button type="button " class="btn btn-primary " data-toggle="modal "
                                    data-target="#addexamination " (click)="loadListDoctor(item.id) ">Tạo phiếu
                                    khám</button>
                                <button type="button " class="btn btn-danger " data-toggle="modal "
                                    data-target="#adduser ">Xóa</button>
                            </td> -->
                            <td style="cursor: pointer; ">
                                <div class="hvr-forward ">
                                    <a [routerLink]="[ '/comon/customer/',item.id ] " target="_blank ">
                                        <i class="fa fa-mail-forward "></i>Lịch sử khám<span class="text-muted "></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row ">
                    <div class="col-sm-6 ">
                        <pagination-controls (pageChange)="changePage($event) "></pagination-controls>
                    </div>
                    <div class="col-sm-5 text-right ">
                    </div>
                    <div class="col-sm-1 text-right ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>